In [1]:
# libraries
import pandas as pd

In [20]:
# importando os dados
questions = pd.read_csv('socialmedia_relevant_cols_clean.csv')

In [22]:
questions.drop(questions.columns[questions.columns.str.contains('unnamed', case=False)], axis=1, inplace=True)

In [24]:
# primeiras linhas
questions.head()

                                                text choose_one  class_label
0                 just happened a terrible car crash   Relevant            1
1  our deeds are the reason of this  earthquake m...   Relevant            1
2  heard about  earthquake is different cities, s...   Relevant            1
3  there is a forest fire at spot pond, geese are...   Relevant            1
4             forest fire near la ronge sask  canada   Relevant            1

In [23]:
# ultimas linhas
questions.tail()

,text,choose_one,class_label
10871,m1 94 01 04 utc ?5km s of volcano hawaii,Relevant,1
10872,police investigating after an e bike collided ...,Relevant,1
10873,the latest more homes razed by northern calif...,Relevant,1
10874,meg issues hazardous weather outlook (hwo),Relevant,1
10875,cityofcalgary has activated its municipal eme...,Relevant,1

In [18]:
questions.describe()

        class_label
count  10876.000000
mean       0.432604
std        0.498420
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        2.000000

## Limpeza dos Dados

In [25]:
# expressoes regulares para limpeza dos dados
def standardize_text(df, text_field):
    df[text_field] = df[text_field].str.replace(r"http\S+", "")
    df[text_field] = df[text_field].str.replace(r"http", "")
    df[text_field] = df[text_field].str.replace(r"@\S+", "")
    df[text_field] = df[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")
    df[text_field] = df[text_field].str.replace(r"@", "at")    
    df[text_field] = df[text_field].str.lower() 
    return df

In [26]:
# limpeza e regravacao do arquivo de saida limpo
clean_questions = standardize_text(questions,'text')
clean_questions.to_csv('clean_data.csv')

<ipython-input-25-4a85d78d87ee>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df[text_field] = df[text_field].str.replace(r"http\S+", "")
<ipython-input-25-4a85d78d87ee>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df[text_field] = df[text_field].str.replace(r"@\S+", "")
<ipython-input-25-4a85d78d87ee>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df[text_field] = df[text_field].str.replace(r"[^A-Za-z0-9(),!?@\'\`\"\_\n]", " ")

### Dados Limpos

In [27]:
clean_questions.head()

                                                text choose_one  class_label
0                 just happened a terrible car crash   Relevant            1
1  our deeds are the reason of this  earthquake m...   Relevant            1
2  heard about  earthquake is different cities, s...   Relevant            1
3  there is a forest fire at spot pond, geese are...   Relevant            1
4             forest fire near la ronge sask  canada   Relevant            1

In [28]:
clean_questions.tail()

,text,choose_one,class_label
10871,m1 94 01 04 utc ?5km s of volcano hawaii,Relevant,1
10872,police investigating after an e bike collided ...,Relevant,1
10873,the latest more homes razed by northern calif...,Relevant,1
10874,meg issues hazardous weather outlook (hwo),Relevant,1
10875,cityofcalgary has activated its municipal eme...,Relevant,1

In [29]:
clean_questions.groupby('class_label').count()

             text  choose_one
class_label
0            6187        6187
1            4673        4673
2              16          16